//colors
$color_blue_dianne_approx: #244751;
$color_gallery_approx: #eee;

//fonts
$font_0: Roboto Condensed;
$font_1: san-serif;

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  &:before {
    box-sizing: inherit;
  }
  &:after {
    box-sizing: inherit;
  }
}
body {
  margin: 0;
  color: $color_blue_dianne_approx;
  background-color: $color_gallery_approx;
  font-family: $font_0, $font_1;
}