//colors
$white: white;
$color_gallery_approx: #eee;
$color_mystic_approx: #e8eaed;
$color_just_right_approx: #ebd2b4;
$black:  black;

section {
  &.new-tweet {
    background-color: $white;
    border-radius: 2%;
    width: 100%;
    margin: 0 auto;
  }
  &.create-tweet {
    padding: 0 30px 12px;
    background-color: $color_gallery_approx;
    border: 1px solid $color_mystic_approx;
    transition: 0.5s;
    &:hover {
      border: 1px solid $black;
    }
  }
}
#submit {
  border-radius: 2px;
  background-color: $color_just_right_approx;
}
main.container {
  width: 50%;
  display: flex;
  background-color: $white;
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px 2em 140px;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
span.counter {
  margin-left: 510px;
}