//colors
$color_blue: #2E79A3;
$color_bubbles_approx: #e8fdff;
$gallery: #efefef;
$white: white;

@media(min-width: 768px) {
  span.header {
  }
}
nav#nav-bar {
  width: 100%;
  height: 80px;
  background-color: $color_blue;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  button {
    border-radius: 10%;
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: $gallery;
    transition: 0.5s;
    letter-spacing: 1px;
    &:hover {
      background-color: $white;
    }
  }
}
#nav-bar .header {
  color: $color_bubbles_approx;
  flex: auto;
}
img.logo {
  width: 80px;
  height: 80px;
}
span.header {
  padding-left: 10px;
  font-size: 2em;
  margin-top: 30px;
  margin-right: 230px;
  width: 40%;
}